# =========================
# Subject / provided files
# =========================
*.pdf
*.tar.gz
*.zip
*.txt

# Provided Day 00 resources
Django_0_Initiation/d00/

# =========================
# Vagrant
# =========================
.vagrant/


# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/


# =========================
# Django
# =========================
*.log
db.sqlite3
staticfiles/


# =========================
# Environment / secrets
# =========================
.env
.env.*
!.env.example


# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store


# =========================
# Temporary files
# =========================
*.swp
*.swo
*~